body {
  background-color: #f9f9f9;
  font-family: Roboto;
  margin-left: 0px;
}

header {
  font-weight: 700;
}

#contact {
  font-weight: 700;
  display: block;
  float: left;
}

@media all and (min-width: 1000px) {
  header {
    font-size: 4.5em;
    margin: 76px 255px 100px 0px;
  }

  #contact {
    font-size: 3em;
    margin: 0px 255px 60px 0px;
  }
}

@media all and (max-width: 999px) {
  header {
    font-size: 3.5em;
    margin: 76px 40px 100px 0px;
  }

  #contact {
    font-size: 2.5em;
    margin: 0px 40px 60px 0px;
  }
}

#postfeed {
  font-size: 1.5em;
  margin: 0px 255px 60px 0px;
  display: block;
  float: left;
}

.post {
  width: 328px;
  display: block;
  float: left;
  margin-right: 60px;
  margin-top: 20px;
}

.post .postTitle {
  font-weight: 700;
}
